/centos_vb
/.idea

/modules/**/.vagrant/
/modules/**/.project
/modules/**/.settings/

/modules/**/files/Ubuntu/**/*.deb
/modules/**/files/CentOS/**/*.rpm
/modules/**/files/CentOS/**/*.rpm.bin
/modules/**/files/**/**/*.tar.gz
/modules/**/files/**/**/*.zip

/modules/*/files/*.deb
/modules/*/files/*.rpm
/modules/*/files/*.rpm.bin
/modules/*/files/*.tar.gz
/modules/*/files/*.zip
