/jdk-1_5_0_22-linux-amd64.bin
/jdk-5u22-linux-x64.bin
/jdk-6u34-linux-x64.bin
/jdk-6u45-linux-x64.bin
/jdk-7u76-linux-x64.tar.gz
/jdk-7u80-linux-x64.tar.gz
/jdk-8u112-linux-x64.tar.gz
/jdk-8u31-linux-x64.tar.gz
